<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ekia</title>
    {% do craft.app.view.registerCssFile('@web/styles/style.css')%}
    {% do craft.app.view.registerCssFile('@web/styles/normalize.css')%}
   
</head>
<body>
    <header>
        <img class="logo" src="{{ siteUrl }}img/logo.png" alt=""> 
        {# deze notering omdat ze met ./styles/logo.png de file niet konden vinden #}
        <nav class="navbar">
            <a href="{{siteUrl}}">home</a>
            <a href="{{siteUrl}}furniture">products</a>
            <a href="#">inspiration</a>
            <a href="#">contact</a>
        </nav>
    </header>

    {% block content %}
    {#hier komt de content #}

    
    {% endblock %}

    <footer>
        <img class="logofooter" src="{{ siteUrl }}img/logo.png" alt="">
        <div>
            <h2>Contact</h2>
            <p>info@ekia.com</p>
            <p>+3249465654342</p>
        </div>
    </footer>

</body>
</html>